.header {
  margin: 45px auto 0;
  width: calc(100% - 2 * 200px);
  border-bottom: 1px solid #545454;
  max-width: 880px;
  height: 74px;
}

@media screen and (max-width: 1200px) {
  .header {
    width: calc(100% - 2 * 120px);
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 2 * 72px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 571px) {
  .header {
    width: 100%;
    margin-top: 28px;
    height: 56px;
  }
}
