.elements__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/elements/like-button.svg);
  background-size: contain;
  box-sizing: border-box;
  padding: 0;
  margin-right: 30px;
  /*20px for PerfectPixel*/
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .2s;
  flex-shrink: 0;
}

.elements__like-button:hover {
  opacity: .5;
}
