.footer {
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .footer {
    margin-top: 59px;
    margin-bottom: 47px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
